body.ebox-cpt.ebox-embed-responsive .ld-video {
	position: relative;
	padding-bottom: 56.25%;
	/* padding-top: 30px; */
	height: 0;
	overflow: hidden;
}

body.ebox-cpt.ebox-embed-responsive .ld-video iframe,
body.ebox-cpt.ebox-embed-responsive .ld-video object,
body.ebox-cpt.ebox-embed-responsive .ld-video embed,
body.ebox-cpt.ebox-embed-responsive .ld-video video,
body.ebox-cpt.ebox-embed-responsive .ld-video div.wp-video {
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
}

body.ebox-cpt.ebox-embed-responsive .ld-video iframe {
	position: absolute;
}

body.ebox-cpt.ebox-embed-responsive .ld-video[data-video-provider="vooplayer"] iframe {
	position: unset;
}

body.ebox-cpt.ebox-embed-responsive .ld-video[data-video-provider="vooplayer"] .spotlightr-id iframe {
	position: absolute;
}

body.ebox-cpt.ebox-embed-responsive .wp-video,
body.ebox-cpt.ebox-embed-responsive video.wp-video-shortcode,
body.ebox-cpt.ebox-embed-responsive .mejs-container.mejs-video,
body.ebox-cpt.ebox-embed-responsive .mejs-overlay.mejs-video.load {
	width: 100% !important;
	height: 100% !important;
}

body.ebox-cpt.ebox-embed-responsive .mejs-container.mejs-video {
	padding-top: 56.25%;
}

body.ebox-cpt.ebox-embed-responsive .wp-video,
body.ebox-cpt.ebox-embed-responsive video.wp-video-shortcode {
	max-width: 100% !important;
}

body.ebox-cpt.ebox-embed-responsive video.wp-video-shortcode {
	position: relative;
}

body.ebox-cpt.ebox-embed-responsive .mejs-container.mejs-video .mejs-mediaelement {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

body.ebox-cpt.ebox-embed-responsive .mejs-container.mejs-video .mejs-overlay-play {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto !important;
	height: auto !important;
}
