/* Override legacy WPProQuiz styles from themes/legacy/templates/ebox_quiz_front.css */
.ebox-wrapper .wpProQuiz_content .wpProQuiz_addToplist {
	margin-top: 10px;
	background-color: rgb(0,162,232, 0.1);
	padding: 10px;
	border: 1px solid #00a2e8;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_toplistTable th {
	background: #00a2e8;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_toplistTrOdd {
	background-color: rgba(0,162,232, 0.1);
}

.ebox-wrapper .wpProQuiz_content a#quiz_continue_link:hover {
    opacity: 0.75;
    background-color: #019e7c;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_button_reShowQuestion:hover,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_button_restartQuiz:hover {
	background-color: #019e7c;
	opacity: 0.75;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewColor {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 2px;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewLegend span.wpProQuiz_reviewColor_Answer {
	background-color: #a1b6c9;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewLegend span.wpProQuiz_reviewColor_Review {
	background-color: #ffd900;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewLegend span.wpProQuiz_reviewColor_AnswerCorrect {
	background-color: #00c349;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewLegend span.wpProQuiz_reviewColor_AnswerIncorrect {
	background-color: #f11414;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewDiv li.wpProQuiz_reviewQuestionTarget,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewLegend span.wpProQuiz_reviewQuestion_Target {
	background-color: #ffffff;
	color: #235af3;
	outline: 2px solid #235af3;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionSolved,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_box li.wpProQuiz_reviewQuestionSolved {
	background-color: #a1b6c9;
	color: #ffffff;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionSolvedCorrect,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_box li.wpProQuiz_reviewQuestionSolvedCorrect {
	background-color: #00c349;
	color: #000000;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionSolvedIncorrect,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_box li.wpProQuiz_reviewQuestionSolvedIncorrect {
	background-color: #f11414;
	color: #000000;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionReview,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_box li.wpProQuiz_reviewQuestionReview {
	background-color: #ffd900;
	color: #000000;
}

.ebox-wrapper .wpProQuiz_content .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionSkip,
.ebox-wrapper .wpProQuiz_content .wpProQuiz_box li.wpProQuiz_reviewQuestionSkip {
	background-color: #ffd900;
	color: #000000;
}
